<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 py-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">Game Auction</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (userId) { %>
        <!-- Authorized User Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li>
              <a class="dropdown-item" href="/seller/games">Sell Games</a>
            </li>
            <li>
              <a class="dropdown-item" href="/seller/auctions">My Auctions</a>
            </li>
            <li><a class="dropdown-item" href="/logout">Log out</a></li>
          </ul>
        </li>
        <% } else { %>
        <!-- Login Button -->
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
