<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <main class="container">
      <h1>FINAL FANTASY VII REMAKE</h1>
      <div class="container">
        <div class="row">
          <div class="col">
            <img
              src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1462040/ss_20a352a2c20dd4bfb08fa131dc4c2e763510f584.1920x1080.jpg?t=1732013233"
              alt="FINAL FANTASY VII REMAKE"
              class="img-fluid"
            />
          </div>
          <div
            class="col-3 container rounded-4 px-3"
            style="background-color: #f3f3f3"
          >
            <div class="row mb-3">
              <span class="fw-medium fs-5 text-secondary">Current Price</span>
              <b class="fw-bold fs-1">$59.99</b>
            </div>
            <button class="btn btn-primary container py-3 fs-5 fw-medium">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/scripts'); %>
  </body>
</html>
